var config = {};

config.port = 3000; // Status page port
config.thingspeak = ''; // Leave blank to disable thingspeak
config.thingspeakcheck = 5; // Every how many minutes to run thingspeak api

module.exports = config;
