doctype html
html(lang="en")
  head
    title Pool Monitor
    link(src='/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.6.0.slim.min.js')
    script(src='/bootstrap.min.js')
  body(style='text-align: center; font-family: cursive;')
    h1(style='color: #545454; font-size: 40px;') Pool Monitor
    hr
    br
    hr
    h2(style='color: #0186B1; font-size: 40px;')!= temp
    p(style='color: #000; font-size: 20px;') Water